/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/05/2015, 01:38:51 PM
    Author     : drkidb
*/


.hero {
  background: url("../images/header.png");
  background-size: cover;
  box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.15);
  height: 80%;
  color: white;
}

.min-height{
    min-height: 700pt;
}

.image_item{
    
    padding: 20%;
}

.sans{
    font-family: Open Sans;
}

.bg-gray1{
    background: #CCC;
}

.bg-gray2{
    background: #999;
}

.bg-gray3{
    background: #666;
}
.bg-gray{
    background: #2C2C2C;
    color: white;
}
.bg-gray4{
    background: #F0EFED;
}

.color-white{
    color: white;
}

.image-badge {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
}

